<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ category }} - {{ title }}</title>
  <style type="text/css">
{{{ indent css.source spaces=4 }}}
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/maptalks@0.38.1/dist/maptalks.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/maptalks@0.38.1/dist/maptalks.min.js"></script>
  <body>
{{{ indent contents spaces=4 }}}
    <script>
{{{ indent js.source spaces=6 }}}
    </script>
  </body>
</html>
