<html>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <title>{{category}} - {{title}}</title>
  <style type='text/css'>
    {{{indent css.source spaces=4}}}
  </style>
  <link rel='stylesheet' href='https://unpkg.com/maptalks/dist/maptalks.css' />
  <script
    type='text/javascript'
    src='https://unpkg.com/maptalks/dist/maptalks.min.js'
  ></script>
  <script
    type='text/javascript'
    src='https://maptalks.com/api/maptalks-gl-layers.js'
  ></script>
  <script
    type='text/javascript'
    src='https://maptalks.com/api/dat.gui.min.js'
  ></script>
  <body>
    {{{indent contents spaces=4}}}
    <script>
      {{{indent js.source spaces=6}}}
    </script>
  </body>
</html>
