<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>{{ category }} - {{ title }}</title>
  <link rel="stylesheet" href="../../../css/example.css" />
  <script type="text/javascript" src="../../../js/run_prettify.js"></script>
</head>

<body>

  <div class="demo-viewer">

    <div class="sidebar">

      <div class="logo-area">
          <a href="https://maptalks.org/" class="logo">
          </a>
          <div class="lang-switch">
              <div class="lang-option lang-en">EN</div>
              <div class="lang-option lang-cn">中文</div>
          </div>
      </div>

      <div class="menu-button"></div>

      <div class="menu-area">

        <div class="action-bar">
          <div class="search-bar">
            <input type="text" class="search-field">
            <div class="search-button"></div>
          </div>
          <div class="all-download-button"></div>
        </div>

        <ul class="menu scroll-block">
          {{#each examples}}
          <li class="list-tile">
            <div class="list-title">{{index}} {{category}}</div>
            <ul class="list">
              {{#each examples}}
              <li class="list-tile">
                <a href="../../{{../name}}/{{name}}/">{{../index}}.{{index}} {{title}}</a>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>

      </div>

    </div>

    <div class="demo-panel">

      <div class="title-area">
        <div class="title">{{ title }}</div>
        <div class="action-area">
          <div class="action-button button">
            <i class="icon source"></i>source
          </div>
          <div class="action-button button">
            <i class="icon open"></i>open
          </div>
          <div class="action-button button">
            <i class="icon edit"></i>edit
          </div>
          <div class="action-button button">
            <i class="icon copy"></i>copy
          </div>
        </div>
      </div>

      <div class="content-area scroll-block">

        <div class="map-viewer">
          <iframe class="map-view" sandbox="allow-popups allow-scripts allow-forms allow-same-origin" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="raw/{{ basename }}"></iframe>
        </div>

        <div class="readme md"></div>

        <div class="code-viewer">
          <div class="code-snippet html">
            <div class="code-title">{{ basename }}</div>
            <pre class="prettyprint">{{#escape}}{{> example}}{{/escape}}</pre>
          </div>
        </div>

      </div>

    </div>

  </div>

  <span class="clear"></span>
  <div style="display:none;">
    <form method="post" action="http://jsfiddle.net/api/post/library/pure/" id="editor" target="_blanks">
      <textarea name="html">
<link rel="stylesheet" href="https://unpkg.com/maptalks/dist/maptalks.css">
<script type="text/javascript" src="https://unpkg.com/maptalks/dist/maptalks.js"></script>
{{ contents }}
      </textarea>
      <textarea name="js">
{{ js.source }}
      </textarea>
      <textarea name="css">
{{ css.source }}
      </textarea>
      <input type="text" name="title" value="{{ title }}">
      <textarea name="description">{{ category }} - {{ title }}</textarea>
      <input type="text" name="wrap" value="l">
    </form>
  </div>

  <script src="../../../js/jquery.js"></script>
  <script>
    $(".lang-option").click(function () {
      $(".lang-switch").toggleClass("-en");
    });

    $(".menu-button").click(function () {
      $(".sidebar").toggleClass("-active");
    });
  </script>
  <script>
    function edit() {
      document.getElementById('editor').submit();
    }
  </script>

</body>

</html>
