<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>{{ category }} - {{ title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/example.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/primer-tooltips.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fixup.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/code-prettify/prettify.css" />
  <script type="text/javascript" src="{{ site.baseurl }}/code-prettify/prettify.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/clipboard.min.js"></script>
</head>

<body>

  <div class="demo-viewer">

    <div class="sidebar">

      <div class="logo-area">
          <a href="https://maptalks.org/" class="logo">
          </a>
          <div class="lang-switch">
              <div class="lang-option lang-en">EN</div>
              <div class="lang-option lang-cn">中文</div>
          </div>
      </div>

      <div class="menu-button"></div>

      <div class="menu-area">

        <div class="action-bar">
          <div class="search-bar">
            <input type="text" class="search-field">
            <div class="search-button"></div>
          </div>
          <div class="all-download-button">{{ t 'Download All' }}</div>
        </div>

        <ul class="menu scroll-block">
          {{#each examples}}
          <li class="list-tile">
            <div class="list-title">{{index}} {{category}}</div>
            <ul class="list">
              {{#each examples}}
              <li class="list-tile">
                <a href="{{ @root.site.baseurl }}/{{ @root.locale }}/{{../name}}/{{name}}/">{{../index}}.{{index}} {{title}}</a>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>

      </div>

    </div>

    <div class="demo-panel">

      <div class="title-area">
        <div class="title">{{ title }}</div>
        <div class="action-area">
          <a class="action-link" href="https://github.com/maptalks/examples/tree/master/src/{{ path }}" target="_blank">
            <div class="action-button button">
              <i class="icon source"></i>{{ t "action.source" }}
            </div>
          </a>
          <a class="action-link" href="raw/{{ basename }}" target="_blank">
            <div class="action-button button">
              <i class="icon open"></i>{{ t "action.open" }}
            </div>
          </a>
          <a class="action-link" href="javascript:edit();">
            <div class="action-button button">
              <i class="icon edit"></i>{{ t "action.edit" }}
            </div>
          </a>
          <a class="action-link" href="javascript:;" id="action-link-copy" data-clipboard-target="#source">
            <div class="action-button button">
              <i class="icon copy"></i>{{ t "action.copy" }}
            </div>
          </a>
        </div>
      </div>

      <div class="content-area scroll-block">

        <div class="map-viewer">
          <iframe class="map-view" sandbox="allow-popups allow-scripts allow-forms allow-same-origin" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="raw/{{ basename }}"></iframe>
        </div>

        <div class="readme md">
        {{#if readme.contents}}
          {{{ readme.contents }}}
        {{/if}}
        </div>

        <div class="code-viewer">
          <div class="code-snippet html">
            <div class="code-title">{{ basename }}</div>
            <pre id="source" class="prettyprint">{{#escape}}{{> example}}{{/escape}}</pre>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div style="display:none;">
    <form method="post" action="http://jsfiddle.net/api/post/library/pure/" id="editor" target="_blanks">
      <textarea name="html">
<link rel="stylesheet" href="https://maptalks.org/api/maptalks.css">
<script type="text/javascript" src="https://maptalks.org/api/maptalks.min.js"></script>
{{ contents }}
      </textarea>
      <textarea name="js">
{{ js.source }}
      </textarea>
      <textarea name="css">
{{ css.source }}
      </textarea>
      <input type="text" name="title" value="{{ title }}">
      <textarea name="description">{{ category }} - {{ title }}</textarea>
      <input type="text" name="wrap" value="l">
    </form>
  </div>

  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

  <script>
    PR.prettyPrint();

    function edit() {
      document.getElementById('editor').submit();
    }

    var clipboard = new Clipboard('#action-link-copy');
    clipboard.on('success', function (e) {
      e.clearSelection();
      showTooltip(e.trigger, '{{ t "message.copied" }}');
    });
  </script>

</body>

</html>
