<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>{{ category }} - {{ title }}</title>
  <link rel="stylesheet" href="../../../css/reset_css.css" />
  <link rel="stylesheet" href="../../../css/all.css" />
  <link rel="stylesheet" href="../../../monokai-sublime.css" />
  <style type="text/css">
    html,
    body {
      overflow-y: auto;
    }

  </style>
  <script type="text/javascript" src="../../../highlight.min.js"></script>
</head>

<body>

  <div id="container">

    <div id="sidebar">
      <ul class="menu-list">
        {{#each examples}}
        <li>
          <a href="javascript:;">{{index}} {{category}}</a>
          <ol>
            {{#each examples}}
            <li>
              <a href="../../{{../name}}/{{name}}/">{{../index}}.{{index}} {{title}}</a>
            </li>
            {{/each}}
          </ol>
        </li>
        {{/each}}
      </ul>
    </div>

    <div id="viewer-wrapper">
      <article id="example">
        <div id="map">
          <h3 class="main-title">{{ title }}</h3>
          <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="raw/{{ basename }}"></iframe>
        </div>
        <div class="button">
          <a href="https://github.com/maptalks/maptalks-demo/tree/master/src/examples/{{ path }}" target="_blank"><img src="../../../images/icon2.png"> Source</a>
          <a href="raw/{{ basename }}" target="_blank"><img src="../../../images/icon1.png"> Open</a>
          <a href="javascript:edit();"><img src="../../../images/icon2.png"> Edit</a>
        </div>
        <div id="code">
          <div class="code-box" data-key="{{ basename }}">
            <h3 class="code-title">{{ basename }}<a name="{{ basename }}" class="anchor" href="#{{ basename }}">#</a></h3>
            <pre>
              <code class="html xml">{{#escape}}{{> example}}{{/escape}}</code>
            </pre>
          </div>
        </div>
      </article>
    </div>

  </div>

  <span class="clear"></span>
  <div style="display:none;">
    <form method="post" action="http://jsfiddle.net/api/post/library/pure/" id="editor" target="_blanks">
      <textarea name="html">
<link rel="stylesheet" href="https://unpkg.com/maptalks/dist/maptalks.css">
<script type="text/javascript" src="https://unpkg.com/maptalks/dist/maptalks.js"></script>
{{ contents }}
      </textarea>
      <textarea name="js">
{{ js.source }}
      </textarea>
      <textarea name="css">
{{ css.source }}
      </textarea>
      <input type="text" name="title" value="{{ title }}">
      <textarea name="description">{{ category }} - {{ title }}</textarea>
      <input type="text" name="wrap" value="l">
    </form>
  </div>
  <script>
    function highlight() {
      var codes = document.getElementsByTagName('code');
      for (var i = 0; i < codes.length; i++) {
        hljs.highlightBlock(codes[i]);
      }
    }

    function edit() {
      document.getElementById('editor').submit();
    }

    highlight();

  </script>
</body>

</html>
