<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=1000">
<title>{{ category }} - {{ title }}</title>
<link rel="stylesheet" href="../../../../style.css">
<link rel="stylesheet" href="../../../../monokai-sublime.css">
</head>
<body>
<header>
  <div class="column">
  </div>
</header>
<div class="column">
  <h1>{{ title }}</h1>
  <div class="index">
    <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin" marginwidth="0" marginheight="0" style="height:500px;" scrolling="no" frameborder="0" src="raw/{{ basename }}"></iframe>
  </div>
  <div class="btn_">
    <a target="_blank" title="Open in a new window." class="btn_open" href="raw/{{ basename }}">
      <img src="../../../../images/demo/btn_open.png"> Open
    </a>
    <a target="_blank" title="Edit in a new window." class="btn_edit" href="raw/{{ basename }}">
      <img src="../../../../images/demo/btn_edit.png"> Edit
    </a>
  </div>
  <div class="gist-readme" data-key="README.md"></div>
  <div id="Code" class="CodeBox">
    <div class="CodeBox" data-key="{{ basename }}">
      <h3 class="Codetitle">{{ basename }}<a name="{{ basename }}" class="anchor" href="#{{ basename }}">#</a></h3>
      <pre>
        <code class="html xml">{{#escape}}{{> example}}{{/escape}}</code>
      </pre>
    </div>
    {{#if css.source}}
    <div class="CodeBox" data-key="{{ css.basename }}">
      <h3 class="Codetitle">{{ css.basename }}<a name="{{ css.basename }}" class="anchor" href="#{{ css.basename }}">#</a></h3>
      <pre>
         <code class="lang-css">{{ css.source }}</code>
      </pre>
    </div>
    {{/if}}
  </div>
</div>
<script type="text/javascript" src="../../../../highlight.min.js"></script>
<script>
  var codes = document.getElementsByTagName("code");
  for (var i = 0; i < codes.length; i++) {
    hljs.highlightBlock(codes[i]);
  }
  window.onload = function () {
      window.parent.reSetIframeHeight();
  };
</script>
</body>
</html>
